body {
    margin: 0 5%; 
    background:#010b16;
    font-family: 'Montserrat';
    color: #F7F5FB;
}

nav {
    background: rgba(255, 255, 255, 0);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    padding-left: 20px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 13px;
}

nav a:hover {
    background-color: #424b5b;
    
}

.active {
    border:solid 0.1px #424b5b;
}
#titulos {
    max-width: 800px;
  }
  
  #titulos h1 {
    margin-bottom: 0.2em;
    font-family: 'open-sans' sans-serif;
    font-size: 90px;
  }
  
  #titulos p.subtitulo {
    margin-top: 0.2em;
    font-family: 'Roboto Mono', monospace;
    color: #8b8b8b;
  }
#cards{
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */

}
.card {
    background-color: #ffffff00;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border:solid 0.1px #424b5b;
    margin: 50px 0px 50px 0px;
    text-align: center;
    font-family: 'Montserrat';
}

.card h2 {
    font-size: 24px;
    margin-top: 0;
}

.card p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.botao-ferramenta{
    background-color: #6e40c9;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 10px; 
    cursor: pointer; 
    width: 50%;
    transition: background-color 0.3s ease;
}
.botao-ferramenta:hover {
    background-color: #dddddd30;
}
.secao1{
    margin: 130px;
}/*
.effect1{
    position: absolute;
    top: calc(0% - 80px);
  left: calc(100% - 20px);
  width: 100px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff;

}*/