body {
    margin: 0 5%; 
    background:#010b16;
    font-family: 'Montserrat';
    color: #F7F5FB;
}
  .secao1{
    margin: 130px;
}
nav {
    background: rgba(255, 255, 255, 0);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    padding-left: 20px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 13px;
}

nav a:hover {
    background-color: #dddddd30;
    
}

.active {
    box-shadow: 0 2px 5px rgba(0, 229, 255, 0.415);
}
header{
    margin: 130px;
}
h1{
    font-size: 90px;
    margin-bottom: 0px;
}
h2{
    font-family: 'Roboto Mono', monospace;
    color: #8b8b8b;
}