body {
    margin: 0 5%; 
    background:#010b16;
    font-family: 'Montserrat';
    color: #F7F5FB;
}
  .secao1{
    margin: 10%;
}
nav {
    background: rgba(255, 255, 255, 0);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    padding-left: 20px;
}

nav {
    background: rgba(255, 255, 255, 0);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    padding-left: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 13px;
}

nav a:hover {
    background-color: #424b5b;
    
}

.active {
    border:solid 0.1px #424b5b;
}
header{
    margin: 10%;
}
h1{
    font-size: 90px;
    margin-bottom: 0px;
}
h2{
    font-family: 'Roboto Mono', monospace;
    color: #8b8b8b;
}
.botao-header{
    display: inline-block;
    border: solid white 0.1px;
    max-width: 573px;
    padding: 20px;
    background-color: #dddddd00;
    border-color: #424b5b !important;
    border-radius: 10px;
    color: rgb(224, 224, 224);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px;
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size:20px ;
    }
    .botao-header{
        max-width: 100px;
        font-size: 12px;
        margin-top: 10px;
    }
}