<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilo.css" media="screen" />
    <title>calculadora de imc</title>
</head>
<body>
    <nav>
		<img src="/img/logo.svg" width="20px">
		<ul class="nav-links">
			<li><a id="componente-nav" href="/index.html">Home</a></li>
			<li><a id="componente-nav" class="active">Sobre</a></li>
			<li><a id="componente-nav" href="#">Repositório</a></li>
			<li><a id="componente-nav" href="#">Contato</a></li>
	</ul>
	<form>
		<input type="text" placeholder="Pesquisar...">
		<button type="submit">Buscar</button>
		<img class="lupa" src="/img/lupa.svg" width="40px">
		</form>
	<div class="menu">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>
	</nav>
    <section class="secao1">
        <div id="calculadora">
            <input type="number" placeholder="Qual sua idade?">
            <input type="number" placeholder="Qual sua altura?">
            <input type="number" placeholder="Qual seu peso?">
        </div>
    </section>
</body>
</html>